# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/.coverage
/coverage

# Next.js
/.next
/out
*.next

# Build output
/build
/dist
/.env*.local
/.env*.production.local

# Logs
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*.swn
.DS_Store
data/
.env

# OS
Thumbs.db

# Build artifacts
.cache/
